In [2]:
f=open("data2.csv","r")
data=f.read()
print data

pavan,ad1
sunitha,ad3
sunitha,ad2
samba,ad2
prashanth,ad1
samba,ad2
prashanth,ad3
samba,ad1
pavan,ad1
samba,ad1
samba,ad3
pavan,ad1
samba,ad2
prashanth,ad2
samba,ad2
prashanth,ad2
sunitha,ad1
pavan,ad1
murali,ad1
sunitha,ad1
murali,ad3
samba,ad3
pavan,ad2
sunitha,ad1
pavan,ad3
prashanth,ad3
pavan,ad3
murali,ad1
sunitha,ad1
samba,ad1
pavan,ad2
murali,ad2
pavan,ad1
pavan,ad2
murali,ad3
pavan,ad1
murali,ad2
samba,ad3
pavan,ad3
prashanth,ad3
murali,ad2
pavan,ad1
prashanth,ad1
samba,ad1
prashanth,ad2
prashanth,ad3
sunitha,ad2
prashanth,ad3
pavan,ad3
murali,ad1
samba,ad2
pavan,ad1
pavan,ad3
sunitha,ad3
murali,ad2
prashanth,ad2
prashanth,ad2
pavan,ad1
murali,ad1
samba,ad2
prashanth,ad3
pavan,ad1
prashanth,ad3
prashanth,ad2
murali,ad1
pavan,ad2
samba,ad2
murali,ad3
pavan,ad2
pavan,ad3
murali,ad3
pavan,ad3
sunitha,ad3
samba,ad1
murali,ad1
sunitha,ad3
murali,ad1
samba,ad3
sunitha,ad2
prashanth,ad2
sunitha,ad1
pavan,ad1
samba,ad3
murali,ad1
pavan,ad2
samba,ad1
sunitha,ad2
murali,ad3
sunitha,ad2
prashanth,ad3
samba,ad3
prashanth,ad1
sunitha,ad2
prashanth,ad2
sunitha,ad3
prashanth,ad1
murali,ad2
prashanth,ad1
prashanth,ad1
prashanth,ad3

In [4]:
f=open("data2.csv","r")
data1=f.read(1024)
data2=f.read(1024)
print data1
print "@"*50
print data2

pavan,ad1
sunitha,ad3
sunitha,ad2
samba,ad2
prashanth,ad1
samba,ad2
prashanth,ad3
samba,ad1
pavan,ad1
samba,ad1
samba,ad3
pavan,ad1
samba,ad2
prashanth,ad2
samba,ad2
prashanth,ad2
sunitha,ad1
pavan,ad1
murali,ad1
sunitha,ad1
murali,ad3
samba,ad3
pavan,ad2
sunitha,ad1
pavan,ad3
prashanth,ad3
pavan,ad3
murali,ad1
sunitha,ad1
samba,ad1
pavan,ad2
murali,ad2
pavan,ad1
pavan,ad2
murali,ad3
pavan,ad1
murali,ad2
samba,ad3
pavan,ad3
prashanth,ad3
murali,ad2
pavan,ad1
prashanth,ad1
samba,ad1
prashanth,ad2
prashanth,ad3
sunitha,ad2
prashanth,ad3
pavan,ad3
murali,ad1
samba,ad2
pavan,ad1
pavan,ad3
sunitha,ad3
murali,ad2
prashanth,ad2
prashanth,ad2
pavan,ad1
murali,ad1
samba,ad2
prashanth,ad3
pavan,ad1
prashanth,ad3
prashanth,ad2
murali,ad1
pavan,ad2
samba,ad2
murali,ad3
pavan,ad2
pavan,ad3
murali,ad3
pavan,ad3
sunitha,ad3
samba,ad1
murali,ad1
sunitha,ad3
murali,ad1
samba,ad3
sunitha,ad2
prashanth,ad2
sunitha,ad1
pavan,ad1
samba,ad3
murali,ad1
pavan,ad2
samba,ad1
sunitha,ad2
murali,ad3
sunitha,ad2
prashanth,ad3
samba,ad3
p
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
rashanth,ad1
sunitha,ad2
prashanth,ad2
sunitha,ad3
prashanth,ad1
murali,ad2
prashanth,ad1
prashanth,ad1
prashanth,ad3

In [5]:
f=open("data2.csv","r")
print f.readlines()

['pavan,ad1\n', 'sunitha,ad3\n', 'sunitha,ad2\n', 'samba,ad2\n', 'prashanth,ad1\n', 'samba,ad2\n', 'prashanth,ad3\n', 'samba,ad1\n', 'pavan,ad1\n', 'samba,ad1\n', 'samba,ad3\n', 'pavan,ad1\n', 'samba,ad2\n', 'prashanth,ad2\n', 'samba,ad2\n', 'prashanth,ad2\n', 'sunitha,ad1\n', 'pavan,ad1\n', 'murali,ad1\n', 'sunitha,ad1\n', 'murali,ad3\n', 'samba,ad3\n', 'pavan,ad2\n', 'sunitha,ad1\n', 'pavan,ad3\n', 'prashanth,ad3\n', 'pavan,ad3\n', 'murali,ad1\n', 'sunitha,ad1\n', 'samba,ad1\n', 'pavan,ad2\n', 'murali,ad2\n', 'pavan,ad1\n', 'pavan,ad2\n', 'murali,ad3\n', 'pavan,ad1\n', 'murali,ad2\n', 'samba,ad3\n', 'pavan,ad3\n', 'prashanth,ad3\n', 'murali,ad2\n', 'pavan,ad1\n', 'prashanth,ad1\n', 'samba,ad1\n', 'prashanth,ad2\n', 'prashanth,ad3\n', 'sunitha,ad2\n', 'prashanth,ad3\n', 'pavan,ad3\n', 'murali,ad1\n', 'samba,ad2\n', 'pavan,ad1\n', 'pavan,ad3\n', 'sunitha,ad3\n', 'murali,ad2\n', 'prashanth,ad2\n', 'prashanth,ad2\n', 'pavan,ad1\n', 'murali,ad1\n', 'samba,ad2\n', 'prashanth,ad3\n', 'pavan,ad1\n', 'prashanth,ad3\n', 'prashanth,ad2\n', 'murali,ad1\n', 'pavan,ad2\n', 'samba,ad2\n', 'murali,ad3\n', 'pavan,ad2\n', 'pavan,ad3\n', 'murali,ad3\n', 'pavan,ad3\n', 'sunitha,ad3\n', 'samba,ad1\n', 'murali,ad1\n', 'sunitha,ad3\n', 'murali,ad1\n', 'samba,ad3\n', 'sunitha,ad2\n', 'prashanth,ad2\n', 'sunitha,ad1\n', 'pavan,ad1\n', 'samba,ad3\n', 'murali,ad1\n', 'pavan,ad2\n', 'samba,ad1\n', 'sunitha,ad2\n', 'murali,ad3\n', 'sunitha,ad2\n', 'prashanth,ad3\n', 'samba,ad3\n', 'prashanth,ad1\n', 'sunitha,ad2\n', 'prashanth,ad2\n', 'sunitha,ad3\n', 'prashanth,ad1\n', 'murali,ad2\n', 'prashanth,ad1\n', 'prashanth,ad1\n', 'prashanth,ad3\n']

In [6]:
f=open("data2.csv","r")
print f.readline()
print f.readline()
print f.readline()

pavan,ad1

sunitha,ad3

sunitha,ad2

In [7]:
print f.readlines()

['samba,ad2\n', 'prashanth,ad1\n', 'samba,ad2\n', 'prashanth,ad3\n', 'samba,ad1\n', 'pavan,ad1\n', 'samba,ad1\n', 'samba,ad3\n', 'pavan,ad1\n', 'samba,ad2\n', 'prashanth,ad2\n', 'samba,ad2\n', 'prashanth,ad2\n', 'sunitha,ad1\n', 'pavan,ad1\n', 'murali,ad1\n', 'sunitha,ad1\n', 'murali,ad3\n', 'samba,ad3\n', 'pavan,ad2\n', 'sunitha,ad1\n', 'pavan,ad3\n', 'prashanth,ad3\n', 'pavan,ad3\n', 'murali,ad1\n', 'sunitha,ad1\n', 'samba,ad1\n', 'pavan,ad2\n', 'murali,ad2\n', 'pavan,ad1\n', 'pavan,ad2\n', 'murali,ad3\n', 'pavan,ad1\n', 'murali,ad2\n', 'samba,ad3\n', 'pavan,ad3\n', 'prashanth,ad3\n', 'murali,ad2\n', 'pavan,ad1\n', 'prashanth,ad1\n', 'samba,ad1\n', 'prashanth,ad2\n', 'prashanth,ad3\n', 'sunitha,ad2\n', 'prashanth,ad3\n', 'pavan,ad3\n', 'murali,ad1\n', 'samba,ad2\n', 'pavan,ad1\n', 'pavan,ad3\n', 'sunitha,ad3\n', 'murali,ad2\n', 'prashanth,ad2\n', 'prashanth,ad2\n', 'pavan,ad1\n', 'murali,ad1\n', 'samba,ad2\n', 'prashanth,ad3\n', 'pavan,ad1\n', 'prashanth,ad3\n', 'prashanth,ad2\n', 'murali,ad1\n', 'pavan,ad2\n', 'samba,ad2\n', 'murali,ad3\n', 'pavan,ad2\n', 'pavan,ad3\n', 'murali,ad3\n', 'pavan,ad3\n', 'sunitha,ad3\n', 'samba,ad1\n', 'murali,ad1\n', 'sunitha,ad3\n', 'murali,ad1\n', 'samba,ad3\n', 'sunitha,ad2\n', 'prashanth,ad2\n', 'sunitha,ad1\n', 'pavan,ad1\n', 'samba,ad3\n', 'murali,ad1\n', 'pavan,ad2\n', 'samba,ad1\n', 'sunitha,ad2\n', 'murali,ad3\n', 'sunitha,ad2\n', 'prashanth,ad3\n', 'samba,ad3\n', 'prashanth,ad1\n', 'sunitha,ad2\n', 'prashanth,ad2\n', 'sunitha,ad3\n', 'prashanth,ad1\n', 'murali,ad2\n', 'prashanth,ad1\n', 'prashanth,ad1\n', 'prashanth,ad3\n']

In [8]:
f=open("data2.csv","r")
data=f.read()
data1=f.read()
print "data1=",data1

data1=

In [9]:
f=open("data2.csv","r")
data=f.read(1024)
data1=f.read()
print "data1=",data1

data1= rashanth,ad1
sunitha,ad2
prashanth,ad2
sunitha,ad3
prashanth,ad1
murali,ad2
prashanth,ad1
prashanth,ad1
prashanth,ad3

In [10]:
f=open("data2.csv","r")
print f.tell()
data=f.read(1024)
print f.tell()
data1=f.read()
print f.tell()
print "data1=",data1

0
1024
1142
data1= rashanth,ad1
sunitha,ad2
prashanth,ad2
sunitha,ad3
prashanth,ad1
murali,ad2
prashanth,ad1
prashanth,ad1
prashanth,ad3

In [11]:
f=open("data2.csv","r")
print f.tell()
data=f.read()
print f.tell()
data1=f.read()
print f.tell()
print "data1=",data1

0
1142
1142
data1=

In [13]:
f=open("data2.csv","r")
print f.tell()
data=f.read()
print f.tell()
print "changing the pointer to zero"
f.seek(0)
print f.tell()
print "reding second time"
data1=f.read()
print f.tell()
print "data1=",data1

0
1142
changing the pointer to zero
0
reding second time
1142
data1= pavan,ad1
sunitha,ad3
sunitha,ad2
samba,ad2
prashanth,ad1
samba,ad2
prashanth,ad3
samba,ad1
pavan,ad1
samba,ad1
samba,ad3
pavan,ad1
samba,ad2
prashanth,ad2
samba,ad2
prashanth,ad2
sunitha,ad1
pavan,ad1
murali,ad1
sunitha,ad1
murali,ad3
samba,ad3
pavan,ad2
sunitha,ad1
pavan,ad3
prashanth,ad3
pavan,ad3
murali,ad1
sunitha,ad1
samba,ad1
pavan,ad2
murali,ad2
pavan,ad1
pavan,ad2
murali,ad3
pavan,ad1
murali,ad2
samba,ad3
pavan,ad3
prashanth,ad3
murali,ad2
pavan,ad1
prashanth,ad1
samba,ad1
prashanth,ad2
prashanth,ad3
sunitha,ad2
prashanth,ad3
pavan,ad3
murali,ad1
samba,ad2
pavan,ad1
pavan,ad3
sunitha,ad3
murali,ad2
prashanth,ad2
prashanth,ad2
pavan,ad1
murali,ad1
samba,ad2
prashanth,ad3
pavan,ad1
prashanth,ad3
prashanth,ad2
murali,ad1
pavan,ad2
samba,ad2
murali,ad3
pavan,ad2
pavan,ad3
murali,ad3
pavan,ad3
sunitha,ad3
samba,ad1
murali,ad1
sunitha,ad3
murali,ad1
samba,ad3
sunitha,ad2
prashanth,ad2
sunitha,ad1
pavan,ad1
samba,ad3
murali,ad1
pavan,ad2
samba,ad1
sunitha,ad2
murali,ad3
sunitha,ad2
prashanth,ad3
samba,ad3
prashanth,ad1
sunitha,ad2
prashanth,ad2
sunitha,ad3
prashanth,ad1
murali,ad2
prashanth,ad1
prashanth,ad1
prashanth,ad3

In [14]:
f=open("data2.csv","r")
data=f.read()
f.close()
f=open("data2.csv","r")
data=f.read()
print data[:10]

pavan,ad1

In [16]:
f=open("data2.csv","r")
data=f.read()
f.seek(10)
print f.tell()
data=f.read()
print data[:10]

10
sunitha,ad

In [17]:
f=open("data2.csv","r")
for i in f:
    print i

pavan,ad1

sunitha,ad3

sunitha,ad2

samba,ad2

prashanth,ad1

samba,ad2

prashanth,ad3

samba,ad1

pavan,ad1

samba,ad1

samba,ad3

pavan,ad1

samba,ad2

prashanth,ad2

samba,ad2

prashanth,ad2

sunitha,ad1

pavan,ad1

murali,ad1

sunitha,ad1

murali,ad3

samba,ad3

pavan,ad2

sunitha,ad1

pavan,ad3

prashanth,ad3

pavan,ad3

murali,ad1

sunitha,ad1

samba,ad1

pavan,ad2

murali,ad2

pavan,ad1

pavan,ad2

murali,ad3

pavan,ad1

murali,ad2

samba,ad3

pavan,ad3

prashanth,ad3

murali,ad2

pavan,ad1

prashanth,ad1

samba,ad1

prashanth,ad2

prashanth,ad3

sunitha,ad2

prashanth,ad3

pavan,ad3

murali,ad1

samba,ad2

pavan,ad1

pavan,ad3

sunitha,ad3

murali,ad2

prashanth,ad2

prashanth,ad2

pavan,ad1

murali,ad1

samba,ad2

prashanth,ad3

pavan,ad1

prashanth,ad3

prashanth,ad2

murali,ad1

pavan,ad2

samba,ad2

murali,ad3

pavan,ad2

pavan,ad3

murali,ad3

pavan,ad3

sunitha,ad3

samba,ad1

murali,ad1

sunitha,ad3

murali,ad1

samba,ad3

sunitha,ad2

prashanth,ad2

sunitha,ad1

pavan,ad1

samba,ad3

murali,ad1

pavan,ad2

samba,ad1

sunitha,ad2

murali,ad3

sunitha,ad2

prashanth,ad3

samba,ad3

prashanth,ad1

sunitha,ad2

prashanth,ad2

sunitha,ad3

prashanth,ad1

murali,ad2

prashanth,ad1

prashanth,ad1

prashanth,ad3

In [18]:
f=open("1.jpg","r")
data=f.read()
print data[:100]

���� JFIF      �� C 	!"$"$�� C

In [19]:
f=open("1.jpg","r")
data=f.read()
f.close()
f=open("1_copy.jpg","w")
f.write(data)
f.close()

In [20]:
f=open("1.jpg","rb")
data=f.read()
f.close()
f=open("1_copy.jpg","wb")
f.write(data)
f.close()

In [21]:
f=open("data.yaml","r")
data=f.read()
print data

---
environment: production
classes:
  nfs::server:
    exports:
      - /srv/share1
      - /srv/share3
parameters:

In [22]:
f=open("data.yaml","r")
#data=f.read()
#print data
import yaml

In [23]:
f=open("data.yaml","r")
#data=f.read()
#print data
import yaml
data = yaml.load(f)
print data

{'environment': 'production', 'classes': {'nfs::server': {'exports': ['/srv/share1', '/srv/share3']}}, 'parameters': None}

In [24]:
f=open("data.json")
data=f.read()
print data

{
    "glossary": {
        "title": "example glossary",
		"GlossDiv": {
            "title": "S",
			"GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
					"SortAs": "SGML",
					"GlossTerm": "Standard Generalized Markup Language",
					"Acronym": "SGML",
					"Abbrev": "ISO 8879:1986",
					"GlossDef": {
                        "para": "A meta-markup language, used to create markup languages such as DocBook.",
						"GlossSeeAlso": ["GML", "XML"]
                    },
					"GlossSee": "markup"
                }
            }
        }
    }
}

In [25]:
f=open("data.json")
data=f.read()
print data,type(data)

{
    "glossary": {
        "title": "example glossary",
		"GlossDiv": {
            "title": "S",
			"GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
					"SortAs": "SGML",
					"GlossTerm": "Standard Generalized Markup Language",
					"Acronym": "SGML",
					"Abbrev": "ISO 8879:1986",
					"GlossDef": {
                        "para": "A meta-markup language, used to create markup languages such as DocBook.",
						"GlossSeeAlso": ["GML", "XML"]
                    },
					"GlossSee": "markup"
                }
            }
        }
    }
}
<type 'str'>

In [26]:
f=open("data.json")
data=f.read()
print data,type(data)
print data.get("glossary")

{
    "glossary": {
        "title": "example glossary",
		"GlossDiv": {
            "title": "S",
			"GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
					"SortAs": "SGML",
					"GlossTerm": "Standard Generalized Markup Language",
					"Acronym": "SGML",
					"Abbrev": "ISO 8879:1986",
					"GlossDef": {
                        "para": "A meta-markup language, used to create markup languages such as DocBook.",
						"GlossSeeAlso": ["GML", "XML"]
                    },
					"GlossSee": "markup"
                }
            }
        }
    }
}
<type 'str'>

AttributeError: 'str' object has no attribute 'get'

In [27]:
f=open("data.json")
import json
data=json.load(f)
print type(data)
print data

<type 'dict'>
{u'glossary': {u'GlossDiv': {u'GlossList': {u'GlossEntry': {u'GlossDef': {u'GlossSeeAlso': [u'GML', u'XML'], u'para': u'A meta-markup language, used to create markup languages such as DocBook.'}, u'GlossSee': u'markup', u'Acronym': u'SGML', u'GlossTerm': u'Standard Generalized Markup Language', u'Abbrev': u'ISO 8879:1986', u'SortAs': u'SGML', u'ID': u'SGML'}}, u'title': u'S'}, u'title': u'example glossary'}}

In [28]:
f=open("data.json")
import json
data=json.load(f)
print type(data)
print data
print data.get("glossary")

<type 'dict'>
{u'glossary': {u'GlossDiv': {u'GlossList': {u'GlossEntry': {u'GlossDef': {u'GlossSeeAlso': [u'GML', u'XML'], u'para': u'A meta-markup language, used to create markup languages such as DocBook.'}, u'GlossSee': u'markup', u'Acronym': u'SGML', u'GlossTerm': u'Standard Generalized Markup Language', u'Abbrev': u'ISO 8879:1986', u'SortAs': u'SGML', u'ID': u'SGML'}}, u'title': u'S'}, u'title': u'example glossary'}}
{u'GlossDiv': {u'GlossList': {u'GlossEntry': {u'GlossDef': {u'GlossSeeAlso': [u'GML', u'XML'], u'para': u'A meta-markup language, used to create markup languages such as DocBook.'}, u'GlossSee': u'markup', u'Acronym': u'SGML', u'GlossTerm': u'Standard Generalized Markup Language', u'Abbrev': u'ISO 8879:1986', u'SortAs': u'SGML', u'ID': u'SGML'}}, u'title': u'S'}, u'title': u'example glossary'}

In [29]:
f=open("data4.txt","w")
f.write(120)
f.close()

TypeError: expected a string or other character buffer object

In [30]:
persons=[{"name":"name1","age":23},{"name":"name2","age":24}]
f=open("data4.txt","w")
f.write(persons)
f.close()

TypeError: expected a string or other character buffer object

In [31]:
persons=[{"name":"name1","age":23},{"name":"name2","age":24}]
f=open("data4.txt","w")
f.writelines(persons)
f.close()

TypeError: writelines() argument must be a sequence of strings

In [32]:
persons=[{"name":"name1","age":23},{"name":"name2","age":24}]
f=open("data4.txt","w")
f.writelines(str(persons))
f.close()

In [33]:
data=open("data4.txt").read()
print type(data)

<type 'str'>

In [34]:
import pickle
persons=[{"name":"name1","age":23},{"name":"name2","age":24}]
f=open("data4.txt","w")
pickle.dump(persons,f)
f.close()

In [35]:
import pickle
f=open("data4.txt","r")
data=f.read()
print data

(lp0
(dp1
S'age'
p2
I23
sS'name'
p3
S'name1'
p4
sa(dp5
g2
I24
sg3
S'name2'
p6
sa.

In [36]:
import pickle
f=open("data4.txt","r")
data=pickle.load(f)
print data

[{'age': 23, 'name': 'name1'}, {'age': 24, 'name': 'name2'}]

In [37]:
type(data)

list

In [38]:
import sqlite3
con = sqlite3.connect("db1.db")
cur=con.cursor()
cur.execute("create table customer(id int, name varchar)")

In [39]:
q="insert into customer values(1,'name1')"
cur.execute(q)

In [40]:
con.commit()

In [41]:
p_id=raw_input("Enter person id:")
p_name=raw_input("Enter person name:")
#"insert into customer values(2,'name2')"
q="insert into customer values(%s,'%s')"%(p_id,p_name)
print q

Enter person id:3
Enter person name:name3
insert into customer values(3,'name3')

In [42]:
p_id=raw_input("Enter person id:")
p_name=raw_input("Enter person name:")
#"insert into customer values(2,'name2')"
q="insert into customer values(%s,'%s')"%(p_id,p_name)
print q
cur.execute(q)
con.commit()

Enter person id:3
Enter person name:name3
insert into customer values(3,'name3')

In [43]:
data={}
for col in ['id','name']:
    value=raw_input("Enter person %s:"%col)
    data.update({col:value})
#"insert into customer values(2,'name2')"
q="insert into customer values(%s,'%s')"%(data.get('id'),data.get("name"))
print q
cur.execute(q)
con.commit()

Enter person id:4
Enter person name:name4
insert into customer values(4,'name4')

In [44]:
data={}
for col in ['id','name']:
    value=raw_input("Enter person %s:"%col)
    data.update({col:value})
#"insert into customer values(2,'name2')"
q="insert into customer values(%(id)s,'%(name)s')"%data
print q
cur.execute(q)
con.commit()

Enter person id:5
Enter person name:name5
insert into customer values(5,'name5')

In [45]:
q="select * from customer"
cur.execute(q)

In [46]:
data=cur.fetchall()
print data

[(1, u'name1'), (3, u'name3'), (4, u'name4'), (5, u'name5')]

In [47]:
q="select name,id from customer"
cur.execute(q)
print cur.fetchall()

[(u'name1', 1), (u'name3', 3), (u'name4', 4), (u'name5', 5)]

In [48]:
q="select name from customer"
cur.execute(q)
print cur.fetchall()

[(u'name1',), (u'name3',), (u'name4',), (u'name5',)]

In [49]:
q="update customer set name='modified name'"
cur.execute(q)
con.commit()

In [50]:
q="update customer set name='modified addd name' where id=3"
cur.execute(q)
con.commit()

In [51]:
q="delete customer where id=1"

In [53]:
q="delete from customer where id=1"
cur.execute(q)
con.commit()

In [54]:
q="alter table customer change name cust_name"
cur.execute(q)

OperationalError: near "change": syntax error

In [ ]:
# register customer
# usermanagement
# register the user
# login to app
# show some menu:
    create custoemr
    update a customer
    delete a custoemr
    reports

In [1]:
import psycopg2
con= psycopg2.connect?

In [3]:
import psycopg2
con= psycopg2.connect(database="batch43",host="localhost",user="postgres",password="root")
cur = con.cursor()
create_query = "create table customer(id int, name varchar(250))"
cur.execute(create_query)
for i in range(100):
    q="insert into customer values(%s, 'name:%s')"%(i,i)
    cur.execute(q)
con.commit()