In [1]:
def add(a,b):
    print a+b
    
def mul(a,b):
    print a*b
def div(a,b):
    print a/b

add(10,20)
mul(10,20)
div(10,20)

30
200
0

In [2]:
print 10+20
print "str1"+"str2"
print [1,2,3,4]+[5,6,7,8]

30
str1str2
[1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
def fun(a,b,c=0,d=0):
    print a+b+c+d
fun(10,20)
fun(10,20,30)
fun(10,20,30,40)

30
60
100

In [4]:
class ClassName:
    pass

In [5]:
class classname:
    pass

In [6]:
def fun():
    print "this is function"
    
class Employee:
    print "this is class"
    name="anil"
    age=23

this is class

In [7]:
def fun():
    print "this is function"
    
class Employee:
    print "this is class"
    name="anil"
    age=23
    def op1(a,b):
        print "this is operation in class"

this is class

In [8]:
def fun():
    print "this is function"
    
class Employee:
    print "this is class"
    name="anil"
    age=23
    def op1(a,b):
        print "this is operation in class"
    print "name inside class:",name
    print "Age inside class:",age
    print "calling op1 inside class:"
    op1(10,20)

this is class
name inside class: anil
Age inside class: 23
calling op1 inside class:
this is operation in class

In [9]:
def fun():
    print "this is function"
    
class Employee:
    print "this is class"
    name="anil"
    age=23
    def op1(a,b):
        print "this is operation in class"
        
print "name outside class:",name

this is class
name outside class:

NameError: name 'name' is not defined

In [10]:
def fun():
    print "this is function"
    
class Employee:
    print "this is class"
    name="anil"
    age=23
    def op1(a,b):
        print "this is operation in class"
        
print "name outside class:",name

 this is class
name outside class:

NameError: name 'name' is not defined

In [11]:
def fun():
    print "this is function"
    
class Employee:
    print "this is class"
    name="anil"
    age=23
    def op1(a,b):
        print "this is operation in class"
        
op1()

 this is class

NameError: name 'op1' is not defined

In [12]:
def fun():
    print "this is function"
    
class Employee:
    print "this is class"
    name="anil"
    age=23
    def op1(a,b):
        print "this is operation in class"
        
print "name outside class:",Employee.name
print "age outside class:",Employee.age

this is class
name outside class: anil
age outside class: 23

In [13]:
def fun():
    print "this is function"
    
class Employee:
    print "this is class"
    name="anil"
    age=23
    def op1(a,b):
        print "this is operation in class"
        
print "name outside class:",Employee.name
print "age outside class:",Employee.age
Employee.op1(10,20)

this is class
name outside class: anil
age outside class: 23

TypeError: unbound method op1() must be called with Employee instance as first argument (got int instance instead)

In [14]:
def fun():
    print "this is function"
    
class Employee:
    print "this is class"
    name="anil"
    age=23
    def op1(a,b):
        print "a=",a
        print "b=",b
        print "this is operation in class"
        
print "name outside class:",Employee.name
print "age outside class:",Employee.age
#Employee.op1(10,20)
anil = Employee()
Employee.op1(anil,20)

this is class
name outside class: anil
age outside class: 23
a= <__main__.Employee instance at 0x7f031c464998>
b= 20
this is operation in class

In [15]:
a=10

In [16]:
s="asdfsdf"

In [17]:
f=12.34

In [18]:
s=[1,2,3,4]

In [19]:
def fun():
    print "this is function"
    
class Employee:
    print "this is class"
    name="anil"
    age=23
    def op1(a,b):
        print "a=",a
        print "b=",b
        print "this is operation in class"
        
print "name outside class:",Employee.name
print "age outside class:",Employee.age
#Employee.op1(10,20)
anil = Employee()
Employee.op1(anil,20)
print "calling name throuogh dataobject:",anil.name
print "calling age throuogh dataobject:",anil.name
print "calling op1 throuogh dataobject:",anil.op1(20)

this is class
name outside class: anil
age outside class: 23
a= <__main__.Employee instance at 0x7f031c464fc8>
b= 20
this is operation in class
calling name throuogh dataobject: anil
calling age throuogh dataobject: anil
calling op1 throuogh dataobject: a= <__main__.Employee instance at 0x7f031c464fc8>
b= 20
this is operation in class
None

In [1]:
def fun(a,b):
    print a,b
fun(10,20)

10 20

In [2]:
def fun(a,b):
    print a,b
fun(20)

TypeError: fun() takes exactly 2 arguments (1 given)

In [3]:
class c1:
    def op1(a,b):
        
        print "a=%s, b=%s"%(a,b)
        print "id(a)=",id(a)
o1=c1()
print "o1=",o1,id(o1)
c1.op1(10,200)

o1= <__main__.c1 instance at 0x7f18c126fe60> 139744296500832

TypeError: unbound method op1() must be called with c1 instance as first argument (got int instance instead)

In [4]:
class c1:
    def op1(a,b):
        
        print "a=%s, b=%s"%(a,b)
        print "id(a)=",id(a)
o1=c1()
print "o1=",o1,id(o1)
c1.op1(o1,200)

o1= <__main__.c1 instance at 0x7f18c1290440> 139744296633408
a=<__main__.c1 instance at 0x7f18c1290440>, b=200
id(a)= 139744296633408

In [5]:
class c1:
    def op1(a,b):
        
        print "a=%s, b=%s"%(a,b)
        print "id(a)=",id(a)
o1=c1()
print "o1=",o1,id(o1)
o1.op1(200)

o1= <__main__.c1 instance at 0x7f18c1290488> 139744296633480
a=<__main__.c1 instance at 0x7f18c1290488>, b=200
id(a)= 139744296633480

In [6]:
class c1:
    def op1(a,b):
        
        print "a=%s, b=%s"%(a,b)
        print "id(a)=",id(a)
o1=c1()
print "o1=",o1,id(o1)
o1.op1(o1,200)

o1= <__main__.c1 instance at 0x7f18c12903f8> 139744296633336

TypeError: op1() takes exactly 2 arguments (3 given)

In [7]:
class c1:
    def op1(a,b):
        
        print "a=%s, b=%s"%(a,b)
        print "id(a)=",id(a)
o1=c1()
print "o1=",o1,id(o1)
o1.op1(200)
c1.op1(o1,2000)

o1= <__main__.c1 instance at 0x7f18c1af9cf8> 139744305454328
a=<__main__.c1 instance at 0x7f18c1af9cf8>, b=200
id(a)= 139744305454328
a=<__main__.c1 instance at 0x7f18c1af9cf8>, b=2000
id(a)= 139744305454328

In [8]:
class c1:
    def create(a):
        pass

In [9]:
class c1:
    def op1(a,b):
        print "a=%s, b=%s"%(a,b)
        print "id(a)=",id(a)
o1=c1()
print "o1=",o1,id(o1)
o1.op1(200)
c1.op1(10,2000)

o1= <__main__.c1 instance at 0x7f18c1290b48> 139744296635208
a=<__main__.c1 instance at 0x7f18c1290b48>, b=200
id(a)= 139744296635208

TypeError: unbound method op1() must be called with c1 instance as first argument (got int instance instead)

In [10]:
class c1:
    def op1(a,b):
        print "a=%s, b=%s"%(a,b)
        print "id(a)=",id(a)
o1=c1()
print "o1=",o1,id(o1)
o1.op1(200)
c1.op1(o1,2000)

o1= <__main__.c1 instance at 0x7f18c1290d88> 139744296635784
a=<__main__.c1 instance at 0x7f18c1290d88>, b=200
id(a)= 139744296635784
a=<__main__.c1 instance at 0x7f18c1290d88>, b=2000
id(a)= 139744296635784

In [11]:
class c1:
    a=1000
    print "a=%s"%a
    def op1(a,b):
        print "a=%s, b=%s"%(a,b)
        print "id(a)=",id(a)
o1=c1()
print "o1=",o1,id(o1)
o1.op1(200)
c1.op1(o1,2000)

a=1000
o1= <__main__.c1 instance at 0x7f18c1290a28> 139744296634920
a=<__main__.c1 instance at 0x7f18c1290a28>, b=200
id(a)= 139744296634920
a=<__main__.c1 instance at 0x7f18c1290a28>, b=2000
id(a)= 139744296634920

In [12]:
class c1:
    c=1000
    print "a=%s"%c
    def op1(a,b):
        print "a=%s, b=%s"%(a,b)
        print "id(a)=",id(a)
        print "c=",c
o1=c1()
print "o1=",o1,id(o1)
o1.op1(200)
c1.op1(o1,2000)

a=1000
o1= <__main__.c1 instance at 0x7f18c121a050> 139744296149072
a=<__main__.c1 instance at 0x7f18c121a050>, b=200
id(a)= 139744296149072
c=

NameError: global name 'c' is not defined

In [13]:
c=1
class c1:
    c=1000
    print "a=%s"%c
    def op1(a,b):
        print "a=%s, b=%s"%(a,b)
        print "id(a)=",id(a)
        print "c=",c
o1=c1()
print "o1=",o1,id(o1)
o1.op1(200)
c1.op1(o1,2000)

 a=1000
o1= <__main__.c1 instance at 0x7f18c121a3f8> 139744296150008
a=<__main__.c1 instance at 0x7f18c121a3f8>, b=200
id(a)= 139744296150008
c= 1
a=<__main__.c1 instance at 0x7f18c121a3f8>, b=2000
id(a)= 139744296150008
c= 1

In [14]:
c=1
class c1:
    c=1000
    print "a=%s"%c
    def op1(a,b):
        c=2
        print "a=%s, b=%s"%(a,b)
        print "id(a)=",id(a)
        print "c=",c
o1=c1()
print "o1=",o1,id(o1)
o1.op1(200)
c1.op1(o1,2000)

a=1000
o1= <__main__.c1 instance at 0x7f18c121a320> 139744296149792
a=<__main__.c1 instance at 0x7f18c121a320>, b=200
id(a)= 139744296149792
c= 2
a=<__main__.c1 instance at 0x7f18c121a320>, b=2000
id(a)= 139744296149792
c= 2

In [15]:
class c1:
    c=1000
    print "a=%s"%c
    def op1(a,b):
        print "a=%s, b=%s"%(a,b)
        print "id(a)=",id(a)
        print "c=",a.c
o1=c1()
print "o1=",o1,id(o1)
o1.op1(200)
c1.op1(o1,2000)

a=1000
o1= <__main__.c1 instance at 0x7f18c121a758> 139744296150872
a=<__main__.c1 instance at 0x7f18c121a758>, b=200
id(a)= 139744296150872
c= 1000
a=<__main__.c1 instance at 0x7f18c121a758>, b=2000
id(a)= 139744296150872
c= 1000

In [16]:
c=1
class c1:
    c=1000
    print "a=%s"%c
    def op1(a,b):
        c=2
        print "a=%s, b=%s"%(a,b)
        print "id(a)=",id(a)
        print "c=",a.c
o1=c1()
print "o1=",o1,id(o1)
o1.op1(200)
c1.op1(o1,2000)

a=1000
o1= <__main__.c1 instance at 0x7f18c121a638> 139744296150584
a=<__main__.c1 instance at 0x7f18c121a638>, b=200
id(a)= 139744296150584
c= 1000
a=<__main__.c1 instance at 0x7f18c121a638>, b=2000
id(a)= 139744296150584
c= 1000

In [17]:
class Emp:
    def op1(a,b):
        print a, b
    def get(a):
        return name
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.name="Anil Kuma"
anil.address="Moosapet"
samba.name="Sambasiva"
samba.address="Anjaneyanagar"
chatarjee.name="Chatarjee"
chatarjee.address="Kalyan nagar"
print anil.name

Anil Kuma

In [18]:
class Emp:
    def op1(a,b):
        print a, b
    def get(a):
        return name
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.name="Anil Kuma"
anil.address="Moosapet"
samba.name="Sambasiva"
samba.address="Anjaneyanagar"
chatarjee.name="Chatarjee"
chatarjee.address="Kalyan nagar"
print anil.name
print samba.name
print chatarjee.name

Anil Kuma
Sambasiva
Chatarjee

In [19]:
class Emp:
    def op1(a,b):
        print a, b
    def get(a):
        return a.name,a.address
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.name="Anil Kuma"
anil.address="Moosapet"
samba.name="Sambasiva"
samba.address="Anjaneyanagar"
chatarjee.name="Chatarjee"
chatarjee.address="Kalyan nagar"
print Emp.get(anil)

('Anil Kuma', 'Moosapet')

In [20]:
class Emp:
    def op1(a,b):
        print a, b
    def get(a):
        return a.name,a.address
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.name="Anil Kuma"
anil.address="Moosapet"
samba.name="Sambasiva"
samba.address="Anjaneyanagar"
chatarjee.name="Chatarjee"
chatarjee.address="Kalyan nagar"
print Emp.get(anil)
print Emp.get(samba)
print Emp.get(chatarjee)

('Anil Kuma', 'Moosapet')
('Sambasiva', 'Anjaneyanagar')
('Chatarjee', 'Kalyan nagar')

In [21]:
class Emp:
    def op1(a,b):
        print a, b
        
    def get(a):
        return a.name,a.address
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.name="Anil Kuma"
anil.address="Moosapet"
samba.name="Sambasiva"
samba.address="Anjaneyanagar"
chatarjee.name="Chatarjee"
chatarjee.address="Kalyan nagar"
#print Emp.get(anil)
print anil.get()
#print Emp.get(samba)
print samba.get()
#print Emp.get(chatarjee)
print chatarjee.get()

('Anil Kuma', 'Moosapet')
('Sambasiva', 'Anjaneyanagar')
('Chatarjee', 'Kalyan nagar')

In [22]:
class Emp:
    def op1(a,b):
        print a, b
        
    def get(a):
        return a.name,a.address
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.name="Anil Kuma"
anil.address="Moosapet"
samba.name="Sambasiva"
samba.address="Anjaneyanagar"
chatarjee.name="Chatarjee"
chatarjee.address="Kalyan nagar"
#print Emp.get(anil)
print anil.get()

('Anil Kuma', 'Moosapet')

In [23]:
class Emp:
    def op1(a,b):
        print a, b
        
    def get(a):
        return a.name,a.address
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.name="Anil Kuma"
anil.address="Moosapet"
samba.name="Sambasiva"
samba.address="Anjaneyanagar"
chatarjee.name="Chatarjee"
chatarjee.address="Kalyan nagar"

In [25]:
class Emp:
    def op1(a,b):
        print a, b
        
    def get(a,b,c):
        return a.name,a.address,b.name,b.address,c.name,c.address
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.name="Anil Kuma"
anil.address="Moosapet"
samba.name="Sambasiva"
samba.address="Anjaneyanagar"
chatarjee.name="Chatarjee"
chatarjee.address="Kalyan nagar"
print samba.get(anil,chatarjee)

('Sambasiva', 'Anjaneyanagar', 'Anil Kuma', 'Moosapet', 'Chatarjee', 'Kalyan nagar')

In [27]:
class Emp:
    def op1(a,b):
        print a, b
    def cal_sal(self):
        print self.sal
    def get(a):
        return a.name,a.address
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.name="Anil Kuma"
anil.address="Moosapet"
anil.sal=1234
samba.name="Sambasiva"
samba.address="Anjaneyanagar"
samba.sal=34567
chatarjee.name="Chatarjee"
chatarjee.address="Kalyan nagar"
chatarjee.sal=2345
print samba.get()
samba.cal_sal()

('Sambasiva', 'Anjaneyanagar')
34567

In [28]:
class Emp:
    def op1(a,b):
        print a, b
    def cal_sal(self):
        print self.sal
    def get(a):
        return a.name,a.address
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.name="Anil Kuma"
anil.address="Moosapet"
anil.sal=1234
samba.name="Sambasiva"
samba.address="Anjaneyanagar"
samba.sal=34567
chatarjee.name="Chatarjee"
chatarjee.address="Kalyan nagar"
chatarjee.sal=2345
print samba.get()
samba.cal_sal()
anil.cal_sal()

('Sambasiva', 'Anjaneyanagar')
34567
1234

In [29]:
class Emp:
    def op1(a,b):
        print a, b
    def cal_sal(self):
        print self.sal
        
    def get(a):
        return a.name,a.address
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.name="Anil Kuma"
anil.address="Moosapet"
anil.sal=1234
samba.name="Sambasiva"
samba.address="Anjaneyanagar"
samba.sal=34567
chatarjee.name="Chatarjee"
chatarjee.address="Kalyan nagar"
chatarjee.sal=2345
print samba.get()
samba.cal_sal()
anil.cal_sal()
chatarjee.cal_sal()

('Sambasiva', 'Anjaneyanagar')
34567
1234
2345

In [31]:
class Emp:
    def op1(a,b):
        print a, b
    def cal_sal(self):
        print self.sal
    def set_data(self, e_name, e_address, e_sal):
        self.name=e_name
        self.address = e_address
        self.sal=e_sal
    def get(a):
        return a.name,a.address
anil=Emp()
samba=Emp()
chatarjee=Emp()
'''
anil.name="Anil Kuma"
anil.address="Moosapet"
anil.sal=1234
'''
anil.set_data("anil kumar","Mosapet",123434)
'''
samba.name="Sambasiva"
samba.address="Anjaneyanagar"
samba.sal=34567
'''
samba.set_data("sambasiva","anjaneyanagar",23456)
'''
chatarjee.name="Chatarjee"
chatarjee.address="Kalyan nagar"
chatarjee.sal=2345
'''
chatarjee.set_data("chatarjee","kalyan nagar",2345)

In [32]:
class Emp:
    def op1(a,b):
        print a, b
    def cal_sal(self):
        print self.sal
    def set_data(self, e_name, e_address, e_sal):
        self.name=e_name
        self.address = e_address
        self.sal=e_sal
    def get(self):
        return self.name,self.address,self.sal
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.set_data("anil kumar","Mosapet",123434)
samba.set_data("sambasiva","anjaneyanagar",23456)
chatarjee.set_data("chatarjee","kalyan nagar",2345)
print anil.get()

('anil kumar', 'Mosapet', 123434)

In [34]:
class Emp:
    def op1(a,b):
        print a, b
    def cal_sal(self):
        print self.sal
    def set_data(self, e_name, e_address, e_sal):
        self.name=e_name
        self.address = e_address
        self.sal=e_sal
    def get(self):
        return self.name,self.address,self.sal
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.set_data("anil kumar","Mosapet",123434)
samba.set_data("sambasiva","anjaneyanagar",23456)
chatarjee.set_data("chatarjee","kalyan nagar",2345)
print samba.get()

('sambasiva', 'anjaneyanagar', 23456)

In [35]:
class Emp:
    def op1(a,b):
        print a, b
    def cal_sal(self):
        print self.sal
    def set_data(self, e_name, e_address, e_sal):
        self.name=e_name
        self.address = e_address
        self.sal=e_sal
    def get(self):
        return self.name,self.address,self.sal
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.set_data("anil kumar","Mosapet",123434)
samba.set_data("sambasiva","anjaneyanagar",23456)
chatarjee.set_data("chatarjee","kalyan nagar",2345)
print chatarjee.get()

('chatarjee', 'kalyan nagar', 2345)

In [36]:
class Emp:
    def op1(a,b):
        print a, b
    def cal_sal(self):
        return self.sal+self.sal*0.1
    def set_data(self, e_name, e_address, e_sal):
        self.name=e_name
        self.address = e_address
        self.sal=e_sal
    def get(self):
        return self.name,self.address,self.sal
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.set_data("anil kumar","Mosapet",123434)
samba.set_data("sambasiva","anjaneyanagar",23456)
chatarjee.set_data("chatarjee","kalyan nagar",2345)
print chatarjee.get()
print anil.cal_sal()

('chatarjee', 'kalyan nagar', 2345)
135777.4

In [37]:
class Emp:
    company="KHYAATHI"
    def op1(a,b):
        print a, b
    def cal_sal(self):
        return self.sal+self.sal*0.1
    def set_data(self, e_name, e_address, e_sal):
        self.name=e_name
        self.address = e_address
        self.sal=e_sal
    def get(self):
        return self.name,self.address,self.sal
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.set_data("anil kumar","Mosapet",123434)
samba.set_data("sambasiva","anjaneyanagar",23456)
chatarjee.set_data("chatarjee","kalyan nagar",2345)
anil.age=23
print samba.age

AttributeError: Emp instance has no attribute 'age'

In [38]:
class Emp:
    company="KHYAATHI"
    def op1(a,b):
        print a, b
    def cal_sal(self):
        return self.sal+self.sal*0.1
    def set_data(self, e_name, e_address, e_sal):
        self.name=e_name
        self.address = e_address
        self.sal=e_sal
    def get(self):
        return self.name,self.address,self.sal
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.set_data("anil kumar","Mosapet",123434)
samba.set_data("sambasiva","anjaneyanagar",23456)
chatarjee.set_data("chatarjee","kalyan nagar",2345)
anil.age=23
print anil.age
print samba.age

23

AttributeError: Emp instance has no attribute 'age'

In [39]:
class Emp:
    company="KHYAATHI"
    def op1(a,b):
        print a, b
    def cal_sal(self):
        return self.sal+self.sal*0.1
    def set_data(self, e_name, e_address, e_sal):
        self.name=e_name
        self.address = e_address
        self.sal=e_sal
    def get(self):
        return self.name,self.address,self.sal
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.set_data("anil kumar","Mosapet",123434)
samba.set_data("sambasiva","anjaneyanagar",23456)
chatarjee.set_data("chatarjee","kalyan nagar",2345)
print Emp.company

KHYAATHI

In [40]:
class Emp:
    company="KHYAATHI"
    def op1(a,b):
        print a, b
    def cal_sal(self):
        return self.sal+self.sal*0.1
    def set_data(self, e_name, e_address, e_sal):
        self.name=e_name
        self.address = e_address
        self.sal=e_sal
    def get(self):
        return self.name,self.address,self.sal
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.set_data("anil kumar","Mosapet",123434)
samba.set_data("sambasiva","anjaneyanagar",23456)
chatarjee.set_data("chatarjee","kalyan nagar",2345)
print Emp.name

AttributeError: class Emp has no attribute 'name'

In [41]:
class Emp:
    company="KHYAATHI"
    def op1(a,b):
        print a, b
    def cal_sal(self):
        return self.sal+self.sal*0.1
    def set_data(self, e_name, e_address, e_sal):
        self.name=e_name
        self.address = e_address
        self.sal=e_sal
    def get(self):
        return self.name,self.address,self.sal
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.set_data("anil kumar","Mosapet",123434)
samba.set_data("sambasiva","anjaneyanagar",23456)
chatarjee.set_data("chatarjee","kalyan nagar",2345)
print anil.company

KHYAATHI

In [42]:
class Emp:
    company="KHYAATHI"
    def op1(a,b):
        print a, b
    def cal_sal(self):
        return self.sal+self.sal*0.1
    def set_data(self, e_name, e_address, e_sal):
        self.name=e_name
        self.address = e_address
        self.sal=e_sal
    def get(self):
        return self.name,self.address,self.sal
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.set_data("anil kumar","Mosapet",123434)
samba.set_data("sambasiva","anjaneyanagar",23456)
chatarjee.set_data("chatarjee","kalyan nagar",2345)
print anil.company
print samba.company
print chatarjee.company

KHYAATHI
KHYAATHI
KHYAATHI

In [43]:
class Emp:
    company="KHYAATHI"
    def op1(a,b):
        print a, b
    def cal_sal(self):
        return self.sal+self.sal*0.1
    def set_data(self, e_name, e_address, e_sal):
        self.name=e_name
        self.address = e_address
        self.sal=e_sal
    def get(self):
        return self.name,self.address,self.sal, self.company
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.set_data("anil kumar","Mosapet",123434)
samba.set_data("sambasiva","anjaneyanagar",23456)
chatarjee.set_data("chatarjee","kalyan nagar",2345)
print anil.get()
print samba.get()
print chatarjee.get()

('anil kumar', 'Mosapet', 123434, 'KHYAATHI')
('sambasiva', 'anjaneyanagar', 23456, 'KHYAATHI')
('chatarjee', 'kalyan nagar', 2345, 'KHYAATHI')

In [44]:
class Emp:
    company="KHYAATHI"
    def op1(a,b):
        print a, b
    def cal_sal(self):
        return self.sal+self.sal*0.1
    def set_data(self, e_name, e_address, e_sal):
        self.name=e_name
        self.address = e_address
        self.sal=e_sal
    def get(self):
        return self.name,self.address,self.sal, self.company
anil=Emp()
samba=Emp()
chatarjee=Emp()
anil.set_data("anil kumar","Mosapet",123434)
samba.set_data("sambasiva","anjaneyanagar",23456)
chatarjee.set_data("chatarjee","kalyan nagar",2345)
santhosh  = Emp()
print anil.get()
print samba.get()
print chatarjee.get()
print santhosh.company
print santhosh.get()

('anil kumar', 'Mosapet', 123434, 'KHYAATHI')
('sambasiva', 'anjaneyanagar', 23456, 'KHYAATHI')
('chatarjee', 'kalyan nagar', 2345, 'KHYAATHI')
KHYAATHI

AttributeError: Emp instance has no attribute 'name'