In [1]:
cost_price=30
# product cost=30
print "product cost=",cost_price

product cost= 30

In [2]:
cost_price=30
# product cost=30
res="product cost="+cost_price
print res

TypeError: cannot concatenate 'str' and 'int' objects

In [3]:
cost_price=30
# product cost=30
res="product cost="+str(cost_price)
print res

product cost=30

In [4]:
cost_price=30
# product cost=30
print "product cost="+str(cost_price)

product cost=30

In [5]:
name="Anil kumar"
age=23
height=5.6
# Name=Anil kumar, Age=23, Height=5.6
print "Name=",name

Name= Anil kumar

In [6]:
name="Anil kumar"
age=23
height=5.6
# Name=Anil kumar, Age=23, Height=5.6
print "Name="+name

Name=Anil kumar

In [7]:
name="Anil kumar"
age=23
height=5.6
# Name=Anil kumar, Age=23, Height=5.6
print "Name="+name","

SyntaxError: invalid syntax (<ipython-input-7-e5e449a4ea82>, line 5)

In [8]:
name="Anil kumar"
age=23
height=5.6
# Name=Anil kumar, Age=23, Height=5.6
print "Name="name

SyntaxError: invalid syntax (<ipython-input-8-518fd5c7e5c7>, line 5)

In [9]:
name="Anil kumar"
age=23
height=5.6
# Name=Anil kumar, Age=23, Height=5.6
print "Name="+name+","

Name=Anil kumar,

In [10]:
name="Anil kumar"
age=23
height=5.6
# Name=Anil kumar, Age=23, Height=5.6
print "Name="+name+", Age="

Name=Anil kumar, Age=

In [11]:
name="Anil kumar"
age=23
height=5.6
# Name=Anil kumar, Age=23, Height=5.6
print "Name="+name+", Age=",age

Name=Anil kumar, Age= 23

In [12]:
name="Anil kumar"
age=23
height=5.6
# Name=Anil kumar, Age=23, Height=5.6
print "Name="+name+", Age="+age

TypeError: cannot concatenate 'str' and 'int' objects

In [13]:
name="Anil kumar"
age=23
height=5.6
# Name=Anil kumar, Age=23, Height=5.6
print "Name="+name+", Age="+str(age)

Name=Anil kumar, Age=23

In [14]:
name="Anil kumar"
age=23
height=5.6
# Name=Anil kumar, Age=23, Height=5.6
print "Name="+name+", Age="+str(age)+", Height=",height

Name=Anil kumar, Age=23, Height= 5.6

In [15]:
name="Anil kumar"
age=23
height=5.6
# Name=Anil kumar, Age=23, Height=5.6
print "Name="+name+", Age="+str(age)+", Height="+str(height)

Name=Anil kumar, Age=23, Height=5.6

In [16]:
print "line1"
print "line2"

line1
line2

In [17]:
print "line1\nline2"

line1
line2

In [18]:
print "line1\nline2\ttabspace"

line1
line2	tabspace

In [19]:
print "\n"

In [21]:
print '\n'

In [22]:
print '\\n'

\n

In [24]:
s="fsd\tfsd\nsdfsdf\nsdfsdf\nsdfsdf\]nsdfsdf\nsdfsdfsd\n"
print s

fsd	fsd
sdfsdf
sdfsdf
sdfsdf\]nsdfsdf
sdfsdfsd

In [26]:
s="fsd\\tfsd\\nsdfsdf\\nsdfsdf\\nsdfsdf\]nsdfsdf\\nsdfsdfsd\\n"
print s

fsd\tfsd\nsdfsdf\nsdfsdf\nsdfsdf\]nsdfsdf\nsdfsdfsd\n

In [27]:
s=r"fsd\tfsd\nsdfsdf\nsdfsdf\nsdfsdf\]nsdfsdf\nsdfsdfsd\n"
print s

fsd\tfsd\nsdfsdf\nsdfsdf\nsdfsdf\]nsdfsdf\nsdfsdfsd\n

In [28]:
s="python program"
print len(s)

14

In [29]:
s="pythonprogram"
print len(s)

13

In [30]:
s="python\nprogram"
print len(s)

14

In [32]:
s="python\nprogram\n\n\n\n\n"
print len(s)

19

In [33]:
s=r"python\nprogram\n\n\n\n\n"
print len(s)

25

In [ ]:
name="Anil kumar"
age=23
height=5.6
# Name=Anil kumar, Age=23, Height=5.6
print "Name="+name+", Age="+str(age)+", Height=",height

In [35]:
s="dfgdfgfdfdgdfgdfgfdgdfgdfgggggggggggggggggggggggggggggggggggggggggggdfgfdgggggggggggggggggggggggggggdfgdfgdfgfdg"
print len(s)
print s

112
dfgdfgfdfdgdfgdfgfdgdfgdfgggggggggggggggggggggggggggggggggggggggggggdfgfdgggggggggggggggggggggggggggdfgdfgdfgfdg

In [36]:
s="dfgdfgfdfdgdfgdfgfdgdfgdfgggggggggggggggggggggggggggggggggggggggggggdfg
fdgggggggggggggggggggggggggggdfgdfgdfgfdg"
print len(s)
print s

SyntaxError: EOL while scanning string literal (<ipython-input-36-ab7616e35dc3>, line 1)

In [37]:
s="dfgdfgfdfdgdfgdfgfdgdfgdfgggggggggggggggggggggggggggggggggggggggggggdfg\
fdgggggggggggggggggggggggggggdfgdfgdfgfdg"
print len(s)
print s

112
dfgdfgfdfdgdfgdfgfdgdfgdfgggggggggggggggggggggggggggggggggggggggggggdfgfdgggggggggggggggggggggggggggdfgdfgdfgfdg

In [38]:
print "\"

SyntaxError: EOL while scanning string literal (<ipython-input-38-dd36a44f2c78>, line 1)

In [39]:
print "\\"

\

In [40]:
s="dfgdfgfdfdgdfgdfgfdgdfgdfgggggggggggggggggggggggggggggggggggggggggggdfg\fdgggggggggggggggggggggggggggdfgdfgdfgfdg"
print len(s)
print s

112
dfgdfgfdfdgdfgdfgfdgdfgdfgggggggggggggggggggggggggggggggggggggggggggdfgdgggggggggggggggggggggggggggdfgdfgdfgfdg

In [41]:
s="dfgdfgfdfdgdfgdfgfdgdfgdfgggggggggggggggggggggggggggggggggggggggggggdfg\fdgggggggggggggggggggggggggggdfgdfgdfgfdg\"
print len(s)
print s

SyntaxError: EOL while scanning string literal (<ipython-input-41-df61109ed001>, line 1)

In [42]:
print "line1"
print "line2"

line1
line2

In [43]:
print "line1";print "line2"

line1
line2

In [44]:
print "dfgdfgfdfdgdfgdfgfdgdfgdfgggggggggggggggggggggggggggggggggggggggggggdfg\
fdgggggggggggggggggggggggggggdfgdfgdfgfdg"
print "line1";print "line2"
a=10;b=20;c=30

dfgdfgfdfdgdfgdfgfdgdfgdfgggggggggggggggggggggggggggggggggggggggggggdfgfdgggggggggggggggggggggggggggdfgdfgdfgfdg
line1
line2

In [45]:
print "dfgdfgfdfdgdfgdfgfdgdfgdfgggggggggggggggggggggggggggggggggggggggggggdfg\
fdgggggggggggggggggggggggggggdfgdfgdfgfdg"
print "line1";print "line2"
a=10;b=20 c=30

SyntaxError: invalid syntax (<ipython-input-45-a584b4800f49>, line 3)

In [46]:
# It's a cool day in HYD
print "It's a cool day in HYD"

It's a cool day in HYD

In [47]:
# It's a cool day in HYD
print 'It's a cool day in HYD'

SyntaxError: invalid syntax (<ipython-input-47-52b3f3d1e5af>, line 2)

In [48]:
# It's a cool day in HYD
print 'It\'s a cool day in HYD'

It's a cool day in HYD

In [49]:
# It's a cool day in "HYD"
print 'It\'s a cool day in "HYD"'

It's a cool day in "HYD"

In [50]:
# It's a cool day in "HYD"
print "It's a cool day in \"HYD\""

It's a cool day in "HYD"

In [ ]:
q="insert into customer values('anil',23,5.6)"

In [51]:
q='insert into customer values('anil',23,5.6)'

SyntaxError: invalid syntax (<ipython-input-51-568577f46381>, line 1)

In [52]:
q='insert into customer values(\'anil\',23,5.6)'

In [53]:
print "%s, %d, %f, %x, %o, %r, %X"

%s, %d, %f, %x, %o, %r, %X

In [54]:
a=1234
print hex(a)

0x4d2

In [55]:
a=1234
print "hexa decima value="+hex(a)

hexa decima value=0x4d2

In [57]:
a=1234
print "hexa decima value="+hex(a)
print "hexa decima value=%x"+hex(a)

hexa decima value=0x4d2
hexa decima value=%x0x4d2

In [58]:
a=1234
print "hexa decima value="+hex(a)
print "hexa decima value=%x"%a

hexa decima value=0x4d2
hexa decima value=4d2

In [59]:
a=1234
print "hexa decima value="+hex(a)
print "hexa decima value=%x"%a
print "Octal value=%o"%a
print "flaot value=%f"%a

hexa decima value=0x4d2
hexa decima value=4d2
Octal value=2322
flaot value=1234.000000

In [60]:
a=1234
print "hexa decima value="+hex(a)
print "hexa decima value=%x"%a
print "Octal value=%o"%a
print "flaot value=%f"%a
print "flaot value=%s"%a

hexa decima value=0x4d2
hexa decima value=4d2
Octal value=2322
flaot value=1234.000000
flaot value=1234

In [61]:
cost_price=23.45
print "cost price of the product="+str(cost_price)

cost price of the product=23.45

In [62]:
cost_price=23.45
print "cost price of the product="+str(cost_price)
print "cost price of the product=%s"%cost_price

cost price of the product=23.45
cost price of the product=23.45

In [63]:
product_name="Appple"
product_cost=10
# apple cost price is:10
print product_name,"cost price is:"+str(product_cost)

Appple cost price is:10

In [64]:
product_name="Appple"
product_cost=10
# apple cost price is:10
print product_name,"cost price is:"+str(product_cost)
print "%s cost price is:%s"%(product_name, product_cost)

Appple cost price is:10
Appple cost price is:10

In [65]:
# insert into customer values(1,'anil','2000-09-10')
p_id=1
p_name="anil"
p_dob="2000-09-10"
print "insert into customer values(%s, '%s', '%s')"%(p_id,p_name,p_dob)

insert into customer values(1, 'anil', '2000-09-10')

In [66]:
s1="dfsdfsdf\nsdfdsf\nsdfdsf\nsdfdsfsfsd\nfdsfsdfsd\nsdfds"
s2="%s"%s1
s3="%r"%s1
print s2

dfsdfsdf
sdfdsf
sdfdsf
sdfdsfsfsd
fdsfsdfsd
sdfds

In [67]:
s1="dfsdfsdf\nsdfdsf\nsdfdsf\nsdfdsfsfsd\nfdsfsdfsd\nsdfds"
s2="%s"%s1
s3="%r"%s1
print s3

'dfsdfsdf\nsdfdsf\nsdfdsf\nsdfdsfsfsd\nfdsfsdfsd\nsdfds'

In [68]:
a=10
b=20
a>b

False

In [69]:
a=10
b=20
c=30
a>b and b>c

False

In [70]:
a>b or b>c

False

In [ ]:
#XOR
#T T-> F
# F F-> F
#T F-> T
#F T->T
#!=

In [71]:
a>b xor b>c

SyntaxError: invalid syntax (<ipython-input-71-2ed0a4261da5>, line 1)

In [72]:
a>b XOR b>c

SyntaxError: invalid syntax (<ipython-input-72-b81c776d180e>, line 1)

In [73]:
a>b Xor b>c

SyntaxError: invalid syntax (<ipython-input-73-71b3071c0773>, line 1)

In [74]:
a>b != b>c

False

In [75]:
True != True

False

In [76]:
False != False

False

In [77]:
False != True

True

In [78]:
True != False

True

In [79]:
34 not in [1,2,3,4,56]

True

In [80]:
34 in [1,2,3,4,56]

False

In [81]:
s="name1.9676622023\n9676622024,name2\name3,9676622024"
print s

name1.9676622023
9676622024,name2
ame3,9676622024

In [82]:
s="name1.9676622023\n9676622024,name2\name3,9676622024"
import re
phone_numbers=re.findall("[0-9]{10}",s)
print phone_numbers

['9676622023', '9676622024', '9676622024']

In [83]:
s="name1.9676622023\n9676622024,name2\name3,9676622024"
import re
phone_numbers=re.findall("[0-9]{10}",s)
'9676622023' in phone_numbers

True

In [84]:
"9676622023" in "name1.9676622023\n9676622024,name2\name3,9676622024"

True

In [85]:
s="23"
print bool(s)

True

In [86]:
bool(1)

True

In [87]:
bool(0)

False

In [88]:
bool(100)

True

In [89]:
bool(-100)

True

In [90]:
bool(0.0)

False

In [91]:
bool(0.1)

True

In [92]:
bool(0.0001)

True

In [93]:
bool("python")

True

In [94]:
bool("")

False

In [95]:
bool([1,2,3,4,5])

True

In [96]:
bool([])

False

In [97]:
bool({1:2,3:4})

True

In [98]:
bool({})

False

In [99]:
bool(0)

False

In [100]:
bool("0")

True

In [101]:
bool([0])

True

In [102]:
bool(" ")

True

In [103]:
numbers=input("Enter numbers in the form of list:")

Enter numbers in the form of list:1,2,3,4

In [104]:
numbers

(1, 2, 3, 4)

In [105]:
numbers=raw_input("Enter numbers coma separated:")

Enter numbers coma separated:1,2,3,4

In [106]:
numbers

'1,2,3,4'

In [107]:
numbers.split(",")

['1', '2', '3', '4']