In [1]:
class Emp:
    def __init__(self, name,empid, age=26, passport="", adhar=""):
        self.name=name
        self.empid=empid
        self.age=age
        self.passport=passport
        self.adhar=adhar
samba=Emp("sambasiva","228")
anil=Emp("Anil kumar","229",34,"23456werty")
print samba+anil

TypeError: unsupported operand type(s) for +: 'instance' and 'instance'

In [2]:
class Emp:
    def __init__(self, name,empid, age=26, passport="", adhar=""):
        self.name=name
        self.empid=empid
        self.age=age
        self.passport=passport
        self.adhar=adhar
    def __add__(self1,self2):
        return "+ supported now"
        
samba=Emp("sambasiva","228")
anil=Emp("Anil kumar","229",34,"23456werty")
print samba+anil

+ supported now

In [3]:
class Emp:
    def __init__(self, name,empid, age=26, passport="", adhar=""):
        self.name=name
        self.empid=empid
        self.age=age
        self.passport=passport
        self.adhar=adhar
    def __add__(self1,self2):
        return ((self1.name,self2.name),(self1.age,self2.age))
        
samba=Emp("sambasiva","228")
anil=Emp("Anil kumar","229",34,"23456werty")
print samba+anil

(('sambasiva', 'Anil kumar'), (26, 34))

In [4]:
class Emp:
    def __init__(self, name,empid, age=26, passport="", adhar=""):
        self.name=name
        self.empid=empid
        self.age=age
        self.passport=passport
        self.adhar=adhar
    def __add__(self1,self2):
        return ((self1.name,self2.name),(self1.age,self2.age))
    def __sub__(self1,self2):
        return ((self1.name,self2.name),(self1.age-self2.age))
        
samba=Emp("sambasiva","228")
anil=Emp("Anil kumar","229",34,"23456werty")
print samba+anil
print samba-anil

(('sambasiva', 'Anil kumar'), (26, 34))
(('sambasiva', 'Anil kumar'), -8)

In [5]:
class Emp:
    def __init__(self, name,empid, age=26, passport="", adhar=""):
        self.name=name
        self.empid=empid
        self.age=age
        self.passport=passport
        self.adhar=adhar
    def __add__(self1,self2):
        return ((self1.name,self2.name),(self1.age,self2.age))
    def __sub__(self1,self2):
        return ((self1.name,self2.name),(self1.age-self2.age))
        
samba=Emp("sambasiva","228")
anil=Emp("Anil kumar","229",34,"23456werty")
print samba+anil
print samba-anil
print len(samba)

(('sambasiva', 'Anil kumar'), (26, 34))
(('sambasiva', 'Anil kumar'), -8)

AttributeError: Emp instance has no attribute '__len__'

In [6]:
class Emp:
    def __init__(self, name,empid, age=26, passport="", adhar=""):
        self.name=name
        self.empid=empid
        self.age=age
        self.passport=passport
        self.adhar=adhar
    def __add__(self1,self2):
        return ((self1.name,self2.name),(self1.age,self2.age))
    def __sub__(self1,self2):
        return ((self1.name,self2.name),(self1.age-self2.age))
    def __len__(self):
        print self.__dict__
        return len(self.__dict__)
        
samba=Emp("sambasiva","228")
anil=Emp("Anil kumar","229",34,"23456werty")
print samba+anil
print samba-anil
print len(samba)

(('sambasiva', 'Anil kumar'), (26, 34))
(('sambasiva', 'Anil kumar'), -8)
{'empid': '228', 'age': 26, 'name': 'sambasiva', 'passport': '', 'adhar': ''}
5

In [7]:
class Emp:
    def __init__(self, name,empid, age=26, passport="", adhar=""):
        self.name=name
        self.empid=empid
        self.age=age
        self.passport=passport
        self.adhar=adhar
    def __add__(self1,self2):
        return ((self1.name,self2.name),(self1.age,self2.age))
    def __sub__(self1,self2):
        return ((self1.name,self2.name),(self1.age-self2.age))
    def __len__(self):
        return len(self.__dict__)
        
samba=Emp("sambasiva","228")
anil=Emp("Anil kumar","229",34,"23456werty")
print samba+anil
print samba-anil
print len(samba)
for i in samba:
    print i

(('sambasiva', 'Anil kumar'), (26, 34))
(('sambasiva', 'Anil kumar'), -8)
5

TypeError: iteration over non-sequence

In [8]:
class Emp:
    def __init__(self, name,empid, age=26, passport="", adhar=""):
        self.name=name
        self.empid=empid
        self.age=age
        self.passport=passport
        self.adhar=adhar
    def __add__(self1,self2):
        return ((self1.name,self2.name),(self1.age,self2.age))
    def __sub__(self1,self2):
        return ((self1.name,self2.name),(self1.age-self2.age))
    def __len__(self):
        return len(self.__dict__)
    def __iter__(self):
        for elem in self.__dict__.items():
            yield elem
        
samba=Emp("sambasiva","228")
anil=Emp("Anil kumar","229",34,"23456werty")
print samba+anil
print samba-anil
print len(samba)
for i in samba:
    print i

(('sambasiva', 'Anil kumar'), (26, 34))
(('sambasiva', 'Anil kumar'), -8)
5
('empid', '228')
('age', 26)
('name', 'sambasiva')
('passport', '')
('adhar', '')

In [10]:
class Emp:
    def __init__(self, name,empid, age=26, passport="", adhar=""):
        self.name=name
        self.empid=empid
        self.age=age
        self.passport=passport
        self.adhar=adhar
    def __add__(self1,self2):
        return ((self1.name,self2.name),(self1.age,self2.age))
    def __sub__(self1,self2):
        return ((self1.name,self2.name),(self1.age-self2.age))
    def __len__(self):
        return len(self.__dict__)
    def __iter__(self):
        '''
        for elem in self.__dict__.items():
            yield elem
        '''
        for i in xrange(10):
            yield i
        
        
samba=Emp("sambasiva","228")
anil=Emp("Anil kumar","229",34,"23456werty")
print samba+anil
print samba-anil
print len(samba)
for i in samba:
    print i

(('sambasiva', 'Anil kumar'), (26, 34))
(('sambasiva', 'Anil kumar'), -8)
5
0
1
2
3
4
5
6
7
8
9

In [11]:
class Emp:
    def __init__(self, name,empid, age=26, passport="", adhar=""):
        self.name=name
        self.empid=empid
        self.age=age
        self.passport=passport
        self.adhar=adhar
    def __add__(self1,self2):
        return ((self1.name,self2.name),(self1.age,self2.age))
    def __sub__(self1,self2):
        return ((self1.name,self2.name),(self1.age-self2.age))
    def __len__(self):
        return len(self.__dict__)
    def __iter__(self):
        for elem in self.__dict__.items():
            yield elem
        
        
        
samba=Emp("sambasiva","228")
anil=Emp("Anil kumar","229",34,"23456werty")
print samba+anil
print samba-anil
print len(samba)
for i in samba:
    print i

(('sambasiva', 'Anil kumar'), (26, 34))
(('sambasiva', 'Anil kumar'), -8)
5
('empid', '228')
('age', 26)
('name', 'sambasiva')
('passport', '')
('adhar', '')

In [12]:
for i in 10:
    print i

TypeError: 'int' object is not iterable

In [ ]:
# singleton __new__